a{
				text-decoration:none;
				outline:none}
			body{
				margin:0px auto;
				padding:0px;
				outline:0px;
				width:100%;
				background-color: #fff;
				}
			*{

				box-sizing:border-box}
			span{
				display:inline;
				}
			button{
				background-color:transparent;
				border: 0px 
			}
			div{
				position:relative;
				margin:0px;
				padding:0px;
				outline:0px;
				border:0px;
				border-radius:0px;
				float:none;  
				}
			ul{
				display:block;
				margin:0px;
				padding:0px;
			}
			li{
				display:block;
				margin:0px;
				padding:0px;
				list-style:none;
			}
			input{
				position:relative;
				display:block;
				margin:0px;
				padding:0px;
				outline:0px;
				border:0px;
				border-radius:0px;
				float:none;
				background-color:transparent;
				font-size:0.6rem;
				outline:none;
				
				}
			textarea{
				position:relative;
				display:block;
				margin:0px;
				padding:0px;
				outline:0px;
				border:0px;
				border-radius:0px;
				float:none;
				font-size:0.6rem;
				overflow-y:auto;
				resize:none;
				}
			img{
				position:relative;
				display:block;
				margin:0px;
				padding:0px;
				outline:0px;
				border:0px;
				border-radius:0px;
				float:none;
				}
			.clear{
				clear:both;
				}
        	.main{
				padding-top:2.75rem;
				overflow:auto;
				padding-bottom:2.25rem;}
			.header{
				width:100%;
				position:fixed;
				top:0px;
				left:0px;
				height:2.75rem;
				z-index:9999999999999999999;
				background-color:#ff0066}
			.footer{
				width:100%;
				position:fixed;
				left:0px;
				}